<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Dictionary Project</title>

    <link href="../images/png.png" rel="shortcut icon">
    <link href="../dict.css" rel="stylesheet">
    <script src=""></script>

</head>
<body>
    <div id="header">
        <img src= "../images/png.png" alt= "dictionary image">
        <h1>WAP Online Dictionary</h1>
    </div>

    <div id= "container">
        <form>
            <label>Term:</label> <input type="text" maxlength="20"> <input type="submit" value="Look Up">
        </form>
    </div>
    
</body>
</html>