body {
    margin: auto;
    width: 75px;
    margin-top: 200px;
}

#click {
    width: 200px;
    height: 50px;
    background-color: lightcoral;
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
}
,
div #click {}
