body {
    background-image: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

#textareas {
    margin: auto;
    width: 90%;
    justify-content: ;
    height: 400px;
    font-size: 12pt;
    font-family: monospace;
}

fieldset {
    border: 5px solid black;
    display: inline;

}

#fieldsets {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}