html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
</head>
<body>
    <form action= "http://localhost:8080/calculation" style="border: 5px solid black; margin: auto; width: 700px; padding: 10px; margin-top: 60px;">
        <h1> <strong> The Number Quiz </strong></h1> 
        <p>Your current Score is </p>
        <p>Guess the second number in the sequence. </p>
        <label>Operation: </label> <input type= "number" name="guess">
        <br>
        <br>
        <input type="submit" name= "add" />
    </form>
</body>
</html>