doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Simple Calculator
div(style='border: 5px solid black; margin: auto; width: 700px; padding: 10px; margin-top: 60px;')
  h1
    strong  The Number Quiz 
  p Your current Score is #{score}
  p You have completed the Number Quiz, with a score of #{score} out of u#{questions}. 