body {
    background-color: dimgray;
}

#pro-pic {
    width: 10%;
    height: 60%;
    border-radius: 50%;
}

.header {
    display: flex;
}

.description {
    margin-left: 50px;
    display: grid;
    align-items: center;
}

h1, h2, h3 {
    color: #A1C3F2;
}

a {
    color: ;
}

img {
    width: 300px;
    height: 300px;
}