#header {
    margin: auto;
    width: 80%;
    text-align: center;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#container {
    margin: auto;
    width: 80%;
    text-align: center;
}

input[type = text] {
    padding:10px;
    border-radius:10px;
}

input[type = submit] {
    padding:10px;
    border-radius:10px;
}

label {
    fon
}